.app {
  display: flex;
  height: 100vh;
}
.sidebar {
  background-color: #333;
  color: white;
  width: 200px;
  transition: width 0.3s, padding 0.3s;
  position: relative;
  padding: 20px;
  overflow: hidden; /* This will still hide the links when collapsed */
}

.collapsed {
  width: 40px; /* Keep the width enough to accommodate the toggle button */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px; /* Remove left padding */
  padding-right: 0px; /* Remove right padding */
  transition: width 0.3s, padding 0.3s;
}

.toggle-btn {
  position: absolute;
  right: 0;
  transform: translateX(100%); /* Move it outside the sidebar */
  top: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #666;
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it's above other content */
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin-top: 50px; /* Adjust spacing */
}

.sidebar-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 0;
}
